{{diagnostic}}
<div class="container" [hidden]="submitted">
    <h1>Meta Form</h1>
    <form (ngSubmit)="addField()" #metaform="ngForm" >
        <div class="form-group">
            <label for="name">FieldName</label>
            <input type="text" class="form-control" id="FieldName"
                   required
                   [(ngModel)]="fieldData.FieldName" name="FieldName" #fieldname="ngModel">
            <!-- <div [hidden]="FieldName.valid || FieldName.pristine"
                   class="alert alert-danger">
                Field Name is required
            </div> -->

        </div>

        <div class="form-group">
            <label for="name">FieldType</label>
            <input type="text" class="form-control" id="FieldType"
                   required
                   [(ngModel)]="fieldData.FieldType" name="FieldType" #fieldtype="ngModel">
            
            <!-- <div [hidden]="FieldType.valid || FieldType.pristine"
                   class="alert alert-danger">
                Field Type is required
            </div> -->
        </div>

      <button type="submit" class="btn btn-success" [disabled]="!metaform.form.valid">Submit</button>

      <button type="button" class="btn btn-default" (click)="newMeta(); metaform.reset();">New MetaData</button>

    </form>
</div>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>FieldName</th>
            <th>FieldType</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let field of metaDataArray; let i = index">
            <td>
                <input [(ngModel)]="field.FieldName" class="form-control" type="text" name="{{field.FieldName}}" />
            </td>
            <td>
                <input [(ngModel)]="field.FieldType" class="form-control" type="text" name="{{field.FieldType}}" />
            </td>
            <td>
                <button class="btn btn-default"  type="button" ng-Click="deleteFieldValue(i)">Delete</button>
            </td>
        </tr>
        <!-- <tr>
            <td>
                <input class="form-control" type="text" id="newAttributeCode" [(ngModel)]="newAttribute.code" name="newAttributeCode" />
            </td>
            <td>
                <input class="form-control" type="text" id="newAttributeName" [(ngModel)]="newAttribute.name" name="newAttributeName" />
            </td>
            <td>
                <input class="form-control" type="text" id="newAttributePrice" [(ngModel)]="newAttribute.price" name="newAttributePrice" />
            </td>
            <td>
                <button class="btn btn-default" type="button" (click)="addFieldValue()">Add</button>
            </td>
        </tr>  -->
    </tbody>
</table>