{{diagnostic}}
<div class="container" [hidden]="submitted">
    <h1>Meta Form</h1>
    <form (ngSubmit)="addField()" #metaform="ngForm" >
        <div class="form-group">
            <label for="name">FieldName</label>
            <input type="text" class="form-control" id="FieldName"
                   required
                   [(ngModel)]="fieldData.fieldName" name="fieldname" #fieldname="ngModel">
        </div>

        <div class="form-group">
            <label for="name">FieldType</label>
            <input type="text" class="form-control" id="FieldType"
                   required
                   [(ngModel)]="fieldData.fieldType" name="fieldtype" #fieldtype="ngModel">
        </div>

      <button type="button" class="btn btn-default" (click)="addField();"[disabled]="!metaform.form.valid">Add Field</button>

      <button type="button" class="btn btn-default" (click)="clear(); metaform.reset();">Clear MetaData</button>
    </form>
</div>
<br>
<div class="container">
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>FieldName</th>
            <th>FieldType</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let field of metaDataArray; let i = index">
            <td>
                <input [(ngModel)]="field.fieldName" class="form-control" type="text" name="{{field.fieldName}}" />
            </td>
            <td>
                <input [(ngModel)]="field.fieldType" class="form-control" type="text" name="{{field.fieldType}}" />
            </td>
            <td>
                <button class="btn btn-default"  type="button" (click)="deleteField(i)">Delete</button>
            </td>
    </tbody>
</table>
<button type="submit" class="btn btn-success" (click)="saveForm();"[disabled]="submitted">Submit</button>
<button type="button" class="btn btn-default" (click)="editForm();" [disabled]="!submitted">Edit Form</button>
</div>
